#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 1rem;
}

.block {
	border: 1px black solid;
	border-radius: 10px;
	padding: 10px;
	min-width: 300px;
	margin-bottom: 20px;
}
.profile__btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile__btn button {
	margin-bottom: 5px;
}
.profile__btn button:last-child {
	margin: 0;
}
.list__btn {
	display: flex;
	flex-direction: column;
}
.cart__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.basket__btn button:last-child {
	margin-left: 10px;
}
.basket__btn button:first-child {
	width: 40px;
}